.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em 6em;
}

.navbar > .brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .logo {
    width: 25px;
    height: 25px;
    background-color: red;
    margin-right: 1em;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin: 0 1em;
}
